<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<!-- The application ID from your app registration -->
		<add key="clientId" value="[ClientId]" />
		<!-- The tenant ID copied from your app registration -->
		<add key="tenantId" value="[TenantId]"/>
	</appSettings>
</configuration>